{% liquid
  assign product_resource = product | default: closest.product

  assign product_url = product_resource.selected_or_first_available_variant.url
  unless product_url
    assign product_url = product_resource.first_available_variant.url
  endunless
  unless product_url
    assign product_url = product_resource.url
  endunless

  assign anchor_id = product_resource.id
  if block != blank and block.id != blank
    assign anchor_id = block.id | append: '-' | append: product_resource.id
  elsif section_id != blank
    assign anchor_id = section_id | append: '-' | append: product_resource.id
  endif

  assign card_gap = product_card_gap
  if card_gap == blank and block != blank
    assign card_gap = block.settings.product_card_gap
  endif
  assign card_gap = card_gap | default: 16

  if settings.transition_to_main_product
    assign featured_media_url = product_resource.selected_or_first_available_variant.featured_image | image_url: width: 500
    if featured_media_url == blank
      assign featured_media_url = product_resource.featured_media.preview_image | image_url: width: 500
    endif
  endif
%}

<product-card
  class="product-card{% if block != blank and block.settings.inherit_color_scheme == false %} color-{{ block.settings.color_scheme }}{% endif %}"
  data-product-id="{{ product_resource.id }}"
  style="--product-card-gap: {{ card_gap }}px;"
  {% if settings.transition_to_main_product %}
    data-product-transition="true"
    {% if featured_media_url != blank %}
      data-featured-media-url="{{ featured_media_url }}"
    {% endif %}
    on:click="/handleViewTransition"
  {% endif %}
  {{ block.shopify_attributes }}
>
  <a
    class="product-card__link"
    href="{{ product_url }}"
    id="{{ anchor_id }}"
    ref="productCardLink"
    aria-label="{{ product_resource.title }}"
  ></a>

  <div class="product-grid__card product-card__content">
    {{- children -}}
  </div>
</product-card>
